body {
  margin: 0 auto; /* Centre le contenu horizontalement */
  /*overflow: hidden; */ /* Commenté (peut être utilisé pour masquer le débordement du contenu) */
  background-color: #eeeeee; /* Couleur d'arrière-plan de la page */
}

h1 {
  text-align: center; /* Centre le texte horizontalement */
  font-family: 'Oswald', sans-serif; /* Police de caractères */
  color: rgba(0, 0, 0, 0.6); /* Couleur du texte avec une transparence */
  font-size: 50px; /* Taille de la police */
  font-style: italic; /* Style de police italique */
}

.wrapper {
  max-width: 1000px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  display: flex; /* Utilise l'affichage flexible */
  display: -webkit-flex; /* Affichage flexible pour Safari */
  flex-direction: column; /* Aligne les éléments en colonne */
}

.calculatrice {
  display: flex; /* Utilise l'affichage flexible */
  display: -webkit-flex; /* Affichage flexible pour Safari */
  flex-direction: column; /* Aligne les éléments en colonne */
  margin: 0 auto; /* Centre la calculatrice horizontalement */
}

.bodycalc {
  display: flex; /* Utilise l'affichage flexible */
  display: -webkit-flex; /* Affichage flexible pour Safari */
  justify-content: center; /* Centre les éléments horizontalement */
}

.btnumbers {
  list-style: none; /* Supprime les puces de liste */
  display: flex; /* Utilise l'affichage flexible */
  max-width: 330px; /* Largeur maximale */
  flex-wrap: wrap; /* Permet l'enroulement des éléments */
  max-height: 450px; /* Hauteur maximale */
  padding: 0; /* Supprime le rembourrage */
}

.btoperations {
  list-style: none; /* Supprime les puces de liste */
  display: flex; /* Utilise l'affichage flexible */
  flex-direction: column; /* Aligne les éléments en colonne */
  padding: 0; /* Supprime le rembourrage */
}

li {
  background: rgba(0, 0, 0, 0.1); /* Couleur de fond avec transparence */
  padding: 45px; /* Rembourrage */
  margin: 3px; /* Marge extérieure */
  width: 10px; /* Largeur */
  height: 18px; /* Hauteur */
  font-size: 18px; /* Taille de la police */
  font-family: 'Oswald', sans-serif; /* Police de caractères */
  color: rgba(0, 0, 0, 0.7); /* Couleur du texte avec transparence */
  cursor: pointer; /* Curseur de souris au survol */
}

li:hover {
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2); /* Ombre portée au survol */
}

.specop {
  background: rgba(0, 0, 0, 0.6); /* Couleur de fond avec transparence */
  margin: 3px; /* Marge extérieure */
  padding: 26px 50px; /* Rembourrage */
  color: #fff; /* Couleur du texte */
  text-align: center; /* Centre le texte horizontalement */
  width: 15px; /* Largeur */
}

.specop:first-child {
  background: rgba(255, 0, 0, 0.7); /* Couleur de fond du premier élément */
}

.screen {
  width: 450px; /* Largeur */
  height: 60px; /* Hauteur */
  background: rgba(0, 0, 0, 0.7); /* Couleur de fond avec transparence */
  margin: 0 auto; /* Centre l'écran horizontalement */
  display: flex; /* Utilise l'affichage flexible */
  flex-direction: column; /* Aligne les éléments en colonne */
}

.input, .output {
  width: 440px; /* Largeur */
  margin-top: 2px; /* Marge supérieure */
  color: rgba(255, 255, 255, 0.7); /* Couleur du texte avec transparence */
  text-align: right; /* Alignement du texte à droite */
  overflow: hidden; /* Masque le débordement du contenu */
}

.input {
  height: 35px; /* Hauteur de la zone d'entrée */
  font-size: 30px; /* Taille de la police pour l'entrée */
}

.output {
  height: 16px; /* Hauteur de la zone de sortie */
  font-size: 16px; /* Taille de la police pour la sortie */
}

.signature {
  text-align: center; /* Centre le texte horizontalement */
  margin-top: 25px; /* Marge supérieure */
  font-size: 20px; /* Taille de la police */
  font-family: 'Oswald', sans-serif; /* Police de caractères */
  color: rgba(0, 0, 0, 0.7); /* Couleur du texte avec transparence */
  font-style: italic; /* Style de police italique */
}
