.calculator {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    background-color: #2c98e0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#display {
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: #ffffffad;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.keypad button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.keypad button:last-child {
    grid-column: 1 / span 4;
}

.keypad button:hover {
    background-color: #ccc;
}
.calculator .keypad .valeur{
    width: 100%;
    background-color: green;
}